<configuration>
  <appender name="SESSION_FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/game-server.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="PERSISTENT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/game-log.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/game-log-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="trace">
    <appender-ref ref="SESSION_FILE" />
    <appender-ref ref="PERSISTENT_FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>